/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: 'theSerifItalic';
	src: url(http://processing.org/css/fonts/TheSerif_B4_Italic.eot),
		 url(http://processing.org/css/fonts/TheSerif_B4_Italic.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'theSerif';
	src: url(http://processing.org/css/fonts/TheSerif_B4_Plain_.eot),
		 url(http://processing.org/css/fonts/TheSerif_B4_Plain_.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'theSerif';
	src: url(http://processing.org/css/fonts/TheSerif_B4_Bold_.eot),
		 url(http://processing.org/css/fonts/TheSerif_B4_Bold_.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Enriqueta';
	src: url(http://processing.org/css/fonts/Enriqueta-Regular-webfont.eot),
		 url(http://processing.org/css/fonts/Enriqueta-Regular-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Enriqueta';
	src: url(http://processing.org/css/fonts/Enriqueta-Bold-webfont.eot),
		 url(http://processing.org/css/fonts/Enriqueta-Bold-webfont.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}

canvas#processingCanvas {
	border: 1px solid;
	width: 600px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -300px;
}

div#splashDiv {	
	position: absolute;
	top: 50%;
	left: 50%;
}

h1#splash {
	font-family: 'theSerif', 'Enriqueta', georgia, times, serif; 
	font-size: 10em;
	color: #2c7bb5;	
	margin: 0;
	padding: 0;
}

h1#splash a {
	text-decoration: none;
	color: #2c7bb5;
}






