/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: 'theSerifItalic';
	src: url(http://processing.org/css/fonts/TheSerif_B4_Italic.eot),
		 url(http://processing.org/css/fonts/TheSerif_B4_Italic.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'theSerif';
	src: url(http://processing.org/css/fonts/TheSerif_B4_Plain_.eot),
		 url(http://processing.org/css/fonts/TheSerif_B4_Plain_.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'theSerif';
	src: url(http://processing.org/css/fonts/TheSerif_B4_Bold_.eot),
		 url(http://processing.org/css/fonts/TheSerif_B4_Bold_.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Enriqueta';
	src: url(http://processing.org/css/fonts/Enriqueta-Regular-webfont.eot),
		 url(http://processing.org/css/fonts/Enriqueta-Regular-webfont.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Enriqueta';
	src: url(http://processing.org/css/fonts/Enriqueta-Bold-webfont.eot),
		 url(http://processing.org/css/fonts/Enriqueta-Bold-webfont.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}

body {
	background: #efefef;
}

/* Splash Page */

div#splashDiv {	
	position: absolute;
	top: 50%;
	left: 50%;
}

h1#splash {
	font-family: 'theSerif', 'Enriqueta', georgia, times, serif; 
	font-size: 10em;
	color: #2c7bb5;	
	margin: 0;
	padding: 0;
	opacity: 0;
}

h1#splash a {
	text-decoration: none;
	color: #2c7bb5;
}

/* Editor Page */

#interface {
	width: 1024px;
	height: 600px;
	position: relative;
	margin: 12px auto;
}

canvas#editorCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 600px;
	background: white;

	outline: none;
}

#video {
	position: absolute;
	top: 0;
	left: 600px;
	width: 424px;
	height: 238px;
}

#editor { 
	position: absolute;
	top: 238px;
	left: 600px;

	width: 424px;
	height: 362px;	
}

#commands {
	position: absolute;
	bottom: 12px;
	right: 12px;
}

#timeline {
	position: absolute;
	width: 600px;
	bottom: 12px;
}

/* Display Page */

canvas#displayCanvas {
	border: 1px solid;
	width: 600px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -300px;

}
