<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-database.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAHJ5EXR9U3GLNLFSycleju9Ns1AxYhH2I",
    authDomain: "hello-processing.firebaseapp.com",
    databaseURL: "https://hello-processing.firebaseio.com",
    projectId: "hello-processing",
    storageBucket: "hello-processing.appspot.com",
    messagingSenderId: "1038531597321"
  };
  firebase.initializeApp(config);
</script>
