<div id="headerContainer">
  <div id="header">
        <div id="title">
          <a href="/">Hello Processing!</a>
        </div>

        <div id="lessonNavContainer">
          <nav id = "lessonNav">
            <a href="/editor/#hello" class="lessonButton" data-index="0"><sub>1</sub> <span>Hello</span></a>
            <a href="/editor/#shapes" class="lessonButton" data-index="1"><sub>2</sub> <span>Shapes</span></a>
            <a href="/editor/#color" class="lessonButton" data-index="2"><sub>3</sub> <span>Color</span></a>
            <a href="/editor/#interact" class="lessonButton" data-index="3"><sub>4</sub> <span>Interact</span></a>
            <a href="/editor/#decisions" class="lessonButton" data-index="4"><sub>5</sub> <span>Decisions</span></a>
            <a href="/editor/#goodbye" class="lessonButton" data-index="5"><sub>6</sub> <span>Goodbye</span></a>
          </nav>
        </div>

        <nav id = "pageNav">
          <a href="/about/" target="_blank">About</a>
          <a href="/guide/" target="_blank">Guide</a> 
        </nav>         

  </div>
</div>