

  <a id="forum" class="btn btn-default btn-primary" href="/about/">
    <span class="glyphicon .glyphicon-star"></span> Info and Credits
  </a>

  <a id="forum" class="btn btn-default btn-primary" href="http://processing.org/">
    <span class="glyphicon .glyphicon-download"></span> Download Processing
  </a>

  <a id="forum" class="btn btn-default btn-primary" href="http://forum.processing.org/two/categories/hello-processing">
    <span class="glyphicon .glyphicon-bullhorn"></span> Discuss This Tutorial
  </a>