<p>Animate your program using mouseX and mouseY!  You can build off the example below or add to your previous design by selecting "My Code from Last Lesson" below.</p>

<p>You can work on your own pace, but we recommend approximately ten minutes on this assignment before moving on.</p>

<p>If you forget the syntax for setup and draw, here is a reminder!</p>

<pre>
void setup() {
  size(500,400);
}

void draw() {
  background(0,0,0);
  fill(255,255,255);
  ellipse(mouseX,mouseY,60,60);
}
</pre>

<p>We recommend a maximum canvas size of 500 by 400 pixels for this tutorial, but feel free to experiment your window skinnier or shorter!</p>

<p>For more, check out the <a href="http://processing.org/reference/mouseX.html" target="_blank">mouseX</a> and <a href="http://processing.org/reference/mouseY.html" target="_blank">mouseY</a> pages on processing.org.</p>