
<h2>Thanks for participating!</h2>

<p>If you'd like to learn more, we encourage you to visit the <a href="http://processing.org">Processing web site</a> as well as the other wonderful tutorials at <a href="http://code.org/learn">code.org</a>.  If you have questions or feedback about the tutorial, we'd <a href="http://discourse.processing.org/c/processing/processing-beginners">love to hear from you</a>!</p>

<div class="text-center">
  <p>
    <div class="btn-group">
      <a id="forum" class="btn btn-default btn-primary" href="/about/">
        <span class="glyphicon glyphicon-star"></span> Info &amp; Credits
      </a>

      <a id="forum" class="btn btn-default btn-primary" href="http://processing.org/">
        <span class="glyphicon glyphicon-download"></span> Get Processing
      </a>

      <a id="forum" class="btn btn-default btn-primary" href="http://discourse.processing.org/c/processing/processing-beginners">
        <span class="glyphicon glyphicon-bullhorn"></span> Discuss Tutorial
      </a>
    </div>
  </p>
</div>


<p>This tutorial was created for <a href="http://csedweek.org/">Computer Science Education Week</a>.  To register your participation, please visit <a href="http://code.org/api/hour/finish">code.org</a>.</p>

<div class="text-center">

  <a id="forum" class="btn btn-default btn-primary" href="http://code.org/api/hour/finish">
    <span class="glyphicon glyphicon-certificate"></span> Get your Hour of Code Certificate!
  </a>
</div>
  
