
<div class="text-center">

<div id="videoCommands" class="btn-group">
  <a id="forum" class="btn btn-default btn-primary" href="/about/">
    <span class="glyphicon glyphicon-star"></span> Info and Credits
  </a>

  <a id="forum" class="btn btn-default btn-primary" href="http://processing.org/">
    <span class="glyphicon glyphicon-download"></span> Get Processing
  </a>

  <a id="forum" class="btn btn-default btn-primary" href="http://forum.processing.org/two/categories/hello-processing">
    <span class="glyphicon glyphicon-bullhorn"></span> Discuss The Tutorial
  </a>
</div>

<br/><br/>

  <a id="forum" class="btn btn-default btn-primary" href="http://code.org/api/hour/finish">
    <span class="glyphicon glyphicon-certificate"></span> Get your Hour of Code Certificate!
  </a>
</div>
  