<h2>Add color to your design!</h2>
 
<p>You can build off the example below or add to your previous design by selecting "My Code from Last Lesson" below.</p>

<p>You can work on your own pace, but we recommend approximately ten minutes on this assignment before moving on.</p>

<p>Some reminders:

<pre>
background(r,g,b);  // Sets the background color!
stroke(r,g,b);      // Sets the outline color of a shape
fill(r,g,b);        // Sets the interior color of a shape
</pre>

Don't forget, you need to call stroke() and fill() <strong>before</strong> you draw the shape!
<br/>
<br/>r -- the amount of red (0-255)
<br/>g -- the amount of green (0-255)
<br/>b -- the amount of blue (0-255)
</p>

<p>For more, check out the <a href="http://processing.org/reference/background_.html" target="_blank">background</a>, <a href="http://processing.org/reference/stroke_.html" target="_blank">stroke</a> and <a href="http://processing.org/reference/stroke_.html" target="_blank">fill</a> pages on processing.org.</p>