<h2>Use a mouse press to change what your program is doing!</h2>

<p>You can build off the example below or add to your previous design by selecting "My Code from Last Lesson" below.</p>

<p>You can work on your own pace, but we recommend approximately ten minutes on this assignment before moving on.</p>

<p>Here is an example of drawing a different color depending on whether the mouse is pressed.</p>

<pre>
void setup() {
  size(500,400);
}

void draw() {
  background(0);
  if (mousePressed) {
    fill(0,255,0);
  } else {
    fill(255,0,0);
  }
  ellipse(mouseX,mouseY,60,60);
}
</pre>

You could also consider drawing the background only when the mouse is pressed.  For example:

<pre>
void setup() {
  size(500,400);
  background(0);
}

void draw() {
  if (mousePressed) {
    background(0);
  }
  ellipse(mouseX,mouseY,60,60);
}
</pre>
