<p>Create a design made of ellipses and rectangles.  For example, you could make a self-portrait, an alien creature, or something more abstract.  It'll just be black and white for now, we'll get to color in the next video.</p>

<p>You can work on your own pace, but we recommend approximately ten minutes on this assignment before moving on.</p>

<p>Some reminders:

<pre>
rect(a,b,c,d);
ellipse(a,b,c,d);
</pre>

a -- the X (horizontal) location) of the shape
<br/>b -- the Y (vertical) location of the shape
<br/>c -- the width of the shape
<br/>d -- the height of the shape

</p>

<p>For more, check out the <a href="http://processing.org/reference/rect_.html" target="_blank">rectangle</a> and <a href="http://processing.org/reference/ellipse_.html" target="_blank">ellipse</a> pages on processing.org.</p>