<div class="snippet" id="5-10">

void setup() {
  size(500,400);
}

void draw() {
  background(0);

  stroke(255);
  fill(128);
  ellipse(250, 200, 100, 100);
}

</div>

<div class="snippet" id="5-20">

void setup() {
  size(500,400);
}

void draw() {
  background(0);

  stroke(255);
  fill(128);
  ellipse(250, 200, 100, 100);

  if (mousePressed) {
    rect(250,200,100,100);
  }

}

</div>

<div class="snippet" id="5-30">

void setup() {
  size(500,400);
}

void draw() {
  background(0);

  stroke(255);
  fill(128);
  ellipse(250, 200, 100, 100);

  if (mousePressed) {
    rect(250,200,100,100);
  }

}

</div>

<div class="snippet" id="5-40">

void setup() {
  size(500,400);
}

void draw() {
  background(0);
  stroke(255);
  fill(128);

  if (mousePressed) {
    rect(250,200,100,100);
  } else {
     ellipse(250, 200, 100, 100);
  }
}

</div>

<div class="snippet" id="5-50">

void setup() {
  size(500,400);
  background(0);
}

void draw() {

  stroke(255);
  fill(128);
  ellipse(mouseX, mouseY, 100, 100);
}

</div>

<div class="snippet" id="5-60">

void setup() {
  size(500,400);
  background(0);
}

void draw() {

  if (mousePressed) {
    background(0);
  }

  stroke(255);
  fill(128);
  ellipse(mouseX, mouseY, 100, 100);
}

</div>