---
layout: default
title: Admin
class: admin
---

{% include header.html %}

<div class="container">

  <div class="panel panel-default" id="loginPanel">
    <div class="panel-heading">
      <h3 class="panel-title">Log In</h3>
    </div>
    <div class="panel-body">

      <div class="alert alert-danger" role="alert" id="loginFailed">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span id="loginError">Login failed.</span>
      </div>

      <form role="form" id="loginForm">
        <div class="form-group">
          <label for="userEmail">Email address</label>
          <input type="email" class="form-control" id="userEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="userPassword">Password</label>
          <input type="password" class="form-control" id="userPassword" placeholder="Password">
        </div>
        <button type="login" id="loginButton" class="btn btn-default">Log In</button>
      </form>

    </div>
  </div>

  <div class="panel panel-default"  id="logoutPanel">
    <div class="panel-heading">
      <h3 class="panel-title">Log Out</h3>
    </div>
    <div class="panel-body">

      <p>You are logged in as <span id="userInfo"></span>. You make now make edits to sketches in the <a href="/gallery/">gallery</a>.</p>
      <button id="logoutButton" class="btn btn-default btn-sm btn-info">Log Out</button>

    </div>
  </div>

</div>


{% include firebase.html %}


<script src="/js/admin.js" type="text/javascript"></script>
