---
layout: default
title: Hints
---

<div id='hintsPreview'>

  <div data-index="1" class="hint hintPreview">
    {% include hint_1.html %}
  </div>

  <div data-index="2" class="hint hintPreview">
    {% include hint_2.html %}
  </div>

  <div data-index="3" class="hint hintPreview">
    {% include hint_3.html %}
  </div>

  <div data-index="4" class="hint hintPreview">
    {% include hint_4.html %}
  </div>

  <div data-index="5" class="hint hintPreview">
    {% include hint_5.html %}
  </div>

  <div data-index="6" class="hint hintPreview">
    {% include hint_6.html %}
  </div>          
</div>