---
layout: default
title: Hints
---

<div>

  <div data-index="1" class="hintPreview">
    {% include hint_1.md %}
  </div>

  <div data-index="2" class="hintPreview">
    {% include hint_2.md %}
  </div>

  <div data-index="3" class="hintPreview">
    {% include hint_3.md %}
  </div>

  <div data-index="4" class="hintPreview">
    {% include hint_4.md %}
  </div>

  <div data-index="5" class="hintPreview">
    {% include hint_5.md %}
  </div>

  <div data-index="6" class="hintPreview">
    {% include hint_6.md %}
  </div>          
</div>