<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="">
  
<meta name="viewport" content="width=1024,
user-scalable=yes, target-densitydpi=device-dpi">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/spectrum.css">
  <link rel="stylesheet" href="/css/main.css">

  <script src="/js/vendor/modernizr.min.js"></script>
</head>
<body class="{{ page.class }}">

  {{ content }}

  <script src="/js/vendor/jquery.min.js"></script>
  <script src="/js/vendor/jquery-ui.min.js"></script>

  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/vendor/spectrum.js"></script>
  <script src="/js/vendor/processing.min.js"></script>

  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40016511-1']);
  _gaq.push(['_setDomainName', 'hello.processing.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>    